/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 27, 2014, 10:22:35 AM
    Author     : MohammadA
*/

/* The Marquee Div */
.newsDiv{
    position:relative;
    width:80%;
    height:20px;
    font-size:18px;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    padding:5px;
    padding-bottom:10px;
}

.news_item{
    text-decoration: none;
    padding-left:20px;
    padding-right:20px;
    display:inline;
}
.news_item:hover{
    text-decoration: underline;
    cursor:pointer;
}

.news_img{
    height:20px;
    width:15px;
}

.left,.right, .play, .pause{
    position:absolute;
    top:0px;
    left:0px;
    background-color:darkblue;
    color:white;
    display:inline;
    font-size:20px;
    height:20px;
    padding:5px;
    padding-right:10px;
    padding-bottom:10px;
}

.right, .play, .pause{
    left:100%;
    background-color:white;
    border:red;    
}

/*   The details div  */
.detail{
    background-color:rgb(245,245,245);
    border: lightgray solid 1px;
    border-radius:5px;
    width:82%;
    height:fit-content;
    padding:5px;
    overflow:hidden; 
    -webkit-transition: up 2s; /* For Chrome, Safari*/
}

.news_photo{
    position: relative;
    background-color:white;
    border: 1px solid lightgray;
    padding:2px;
    height:150px;
    width:150px;
    float:right;
    margin:10px;
}

.news_title{
    font-weight: bold;
    font-size:18px;
    padding:10px;    
}

.date{
    font-size:13px;
    color:gray;
    padding:10px;
}

.news_detail{
    font-size:17px;
    padding:10px;  
    background-color:rgb(247,247,247);
}

/*******Marquee**********/
.marquee {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    font-size:30px;
    -webkit-animation: marquee 45s linear infinite;
}

.marquee:hover {
    -webkit-animation-play-state: paused
}


/* Make it move */
@-webkit-keyframes marquee {
    0%   { text-indent: 35.5em }
    100% { text-indent: -75em }
}

